.App {
  text-align: center;
}

.body {
  background-color: #f5f5f5;
}
.bodyHome {
  background-color: white;
}
.navDark {
  background-color: #222 !important;
}

.card {
  margin:  50px;
}

.white{
  background-color:  white;
}

.cardText {
  font-weight: bold;
}

.hr {
  width: 100px;
  
}

.padding {
  padding: 20px;
}

.round {
  border: 1px solid black;
  border-radius: 5px;
}

.eventsTitle {
  padding: 20px;
}

.eventsImage {
  width: 300px;
  height: auto;
}

.input:focus {
  outline: none !important;
  border:1px solid #ffd16d;
}

.buttonYellow {
  background-color: #ffd16d;
}

.btnhover {
  color: #999 !important;
  border-color: #999 !important;
}
.btnhover:hover {
  color: #666 !important;
  border-color: #666 !important;
}

.btnhover2 {
  color: #999 !important;
  border-color: #999 !important;
}
.btnhover2:hover {
  color: rgba(255,255,255,.7)!important;
  border-color: rgba(255,255,255,.7) !important;
}



@media only screen and (max-width: 600px) {
  .card {
    margin: 20px;
  }

  .eventsImage {
    width: 100%;
    height: auto;
  }
}